<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active"  id="patientListTab"
       href="#" (click)="toggleClass($event, '#patientList')">Patient list</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  id="patientAddUpdateTab"
       href="#" (click)="toggleClass($event, '#patientAddUpdate')"><span *ngIf="currentPatientURL">Update </span><span *ngIf="!currentPatientURL">Add</span> Patient</a>
  </li>
</ul>

<div class="tab-pane active" id="patientList"  *ngIf="selectedPanel=='#patientList'">
  <app-list-patient [parentComponent]="that"></app-list-patient>
</div>
<div class="tab-pane" id="patientAddUpdate" *ngIf="selectedPanel=='#patientAddUpdate'">
  <app-add-patient [parentComponent]="that" [patientAsText]="currentPatient" [patientURL]="currentPatientURL"></app-add-patient>
</div>
